*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 1.25rem;
  font-family: "Poppins", sans-serif;
  background-color: #fafafa;
  color: #a3a5ae;
  max-width: 90rem;
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center; }

.title {
  font-size: 2.5rem; }
  .title--light {
    font-size: 2.9rem;
    font-weight: 200; }
  .title--dark {
    font-weight: 600;
    color: #4c4e61; }

.top-section {
  text-align: center; }
  .top-section__text {
    max-width: 50ch;
    margin: 1rem auto 0; }

.card {
  padding: 2em;
  margin-top: 2em;
  box-shadow: 0 0 0.625rem rgba(84, 84, 84, 0.5);
  background-color: white;
  border-radius: 0.5em;
  display: grid; }
  .card .title--dark {
    text-transform: capitalize;
    margin-bottom: 0.5em; }
  .card__img {
    place-self: flex-end;
    padding: 1em 0;
    margin-top: 0.5em; }
  .card--supervisor {
    border-top: 3px solid #45d3d3; }
  .card--team {
    border-top: 3px solid #ea5353; }
  .card--karma {
    border-top: 3px solid #fcaf4a; }
  .card--calculator {
    border-top: 3px solid #549ef2; }
  .card:hover {
    animation: shake 0.5s ease-in-out; }

@keyframes shake {
  0% {
    transform: rotate(0); }
  50% {
    transform: rotate(2deg); }
  100% {
    transform: rotate(0); } }

@media (min-width: 32.25em) {
  .container {
    display: grid;
    column-gap: 2em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "a b c" "a d c";
    margin-top: 2em; }
  .card--supervisor {
    grid-area: a;
    align-self: center; }
  .card--team {
    grid-area: b; }
  .card--calculator {
    grid-area: c;
    align-self: center; }
  .card--karma {
    grid-area: d; } }
